# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
imutils

# web_scrapping
requests
bs4
BeautifulSoup4

#pose-estimator
opencv-python
tensorflow
numpy
matplotlib
mediapipe
pyttsx3
pillow