@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root {
  --primary-color: #e8505b;
  --white-color: #ffffff;
  --dark-color: #171819;
  --about-bg-color: #f9f9f9;

  --head-color: #f1edf0;
  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;

  --base-font-family: 'Sen', sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100%;
  --border-radius-small: 2px;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
}

.navbar {
  background: #e6e4e1;
  padding: 0.1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-brand {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  padding-top: 10%;
}

.nav-item .nav-link {
  display: block;
  color: var(--black-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 2px 6px;
}

.navbar-brand:hover,
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--primary-color);
}

/* ******************************* */
/* hero section */
/* ********************************* */

.hero {
  vertical-align: middle;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-overlay {
  background: var(--dark-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#myVideo {
  position: cover;
  right: 0;
  bottom: 0;
  /* max-width: 100%; */
  /* max-height: 100%; */
  width: 100%;
  min-height: 100vh;
  /* max-height: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  line-height: normal;
}

h1 {
  font-size: 48px;
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 20px 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  margin: 0;
}

h4 {
  font-size: var(--h3-font-size);
  color: var(--head-color);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
  line-height: inherit;
  margin: 0;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  line-height: 1.5em;
}

b,
strong {
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
}

.section {
  padding: 7rem 0;
}

.down {
  width: 30%;
  height: 70px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

.hero-text-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  opacity: 0.7;
  color: white;
  /* padding-bottom: 70px; */
}

.fix{
  position:fixed;
  bottom: -5%;
  right: 70%;
  left: 5%;
  opacity: 3;
}

.webcam-bottom-text {
  font-family: 'Sen', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 25px;
  margin-top: 40px;
}

.webcam-title-text {
  font-family: 'Sen', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 50px;
}

#title-container-text {
  margin-top: 45px;
}
